
div.pagination {
    width: 100%;
    text-align: right;
    padding: 0px;
    margin: 0px;
}
div.flask-pagedown-preview {
    margin: 10px 0px 10px 0px;
    border: 1px solid #e0e0e0;
    padding: 4px;
}
div.flask-pagedown-preview h1 {
    font-size: 140%;
}
div.flask-pagedown-preview h2 {
    font-size: 130%;
}
div.flask-pagedown-preview h3 {
    font-size: 120%;
}
.post-body h1 {
    font-size: 140%;
}
.post-body h2 {
    font-size: 130%;
}
.post-body h3 {
    font-size: 120%;
}
.table.followers tr {
    border-bottom: 1px solid #e0e0e0;
}
.logo-img {
    max-width: 16px; /* Adjust the maximum width as needed */
    margin-top: 16px; /* Adjust the margin as needed */
}

.background-image {
    background-image: url('/static/images/background.jpg');
    background-size: cover;
    background-position: center center;
    height: 100vh;
    opacity: 0.5;
}

/* Media query for tablets (768px) and smaller */
@media only screen and (max-width: 768px) {
    .background-image {
        background-size: contain;
        /* Add other styles as needed for smaller screens */
    }
}

/* Media query for mobile devices (576px) and smaller */
@media only screen and (max-width: 576px) {
    .background-image {
        background-size: cover; /* or any other desired style for mobile */
        /* Add other styles as needed for smaller screens */
    }
}

.content {
    padding: 20px;
    color: Black; /* Example: Text color on top of the background */
    text-align: center; /* Center align the content */
}

body {
    font-family: 'Roboto', sans-serif;
}

.quote-container {
    background-color: #fff;
    border-radius: 5px;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

blockquote {
    font-size: 20px;
    font-style: italic;
    border-left: 2px solid #333;
    padding-left: 10px;
    margin-bottom: 10px;
    cursor: pointer; /* Add cursor pointer for click effect */
}

@keyframes scrollAnimation {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(-100%);
    }
}

.animated-scroll {
    animation: scrollAnimation 5s linear infinite;
}

.author {
        font-weight: bold;
        margin-top: 10px;
}